/*GALVENA*/
#boxx{
	position: fixed;
    z-index: 10;
    top: 2vw;
	overflow: hidden;
	background-color: white;
	
	width: 50%;
    height: auto;
    background-color: white;
    border-radius: 20px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

#box1{
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
	width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
.box_content{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
	width: 100%;
    height: 100%;

    
}
.close{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}
.text_in_form{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text_in_form h5{
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
    font-weight: 300;
    letter-spacing: 1;
    margin: 0;
	margin-bottom: 10px;
}
.button_blue{
	background-color: #2fa8da;
}
.button_green{
	background-color: #94da2f;
}
.button_green, .button_blue{
    border-radius: 10vw;
    font-size: 12px;
    border: 0;
    padding: 12px 20px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    margin-top: unset;
    box-shadow: none;
    cursor: pointer;
    width: 170px;
	margin: 10px;
}
.form_head {
    width: 100%;
    border-radius:  20px 20px 0 0;
    height: 50px;
	background-color: #424749;
    text-align:center;


}
.form_head h1 {
    color: #e0e0e0;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: 18px;
}
.inputs {
    width: 65%;
    margin:auto;
    display: flex;
    display: webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
	padding-top: 20px;
    padding-bottom: 20px;
}

.inputs label {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
    font-size: 16px;
}
.inputs span {
    width: 100%;
    position: relative;


}
.bookinput {
    width: 100%;
    position: relative;
}
/*ISA*/
.green-background{
	background-color: #94da2f;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 50px;
    position: relative;
    top: 0;
}
.green-background p{
	color: white;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1;
    margin-top: 23px;
}
.green-background h1{
	color: white;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: 18px;
	text-align: center;
}
form{

}
#sform {
    padding-bottom: 20px;
    background-color: #fff;
	border-radius: 0 0 20px 20px;
}
#box2{
	width: 25%;
    max-width: 800px;
    min-width: 300px;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 5vw;
    border-radius: 20px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.name{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
}
.name input{
    border-radius: 17px;
    width: 120px;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    margin: 5px;
    font-size: 13px;
}
#code input{
	border-radius: 17px;
    width: 250px;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    margin: 5px;
    font-size: 13px;
}
.kontakti, .col-sm-12{
	text-align: center;
}
.kontakti input{
	border-radius: 17px;
    width: 120px;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    margin: 5px;
    font-size: 13px;
}
.col-sm-12 input{
    border-radius: 10vw;
    font-size: 12px;
    border: 0;
    padding: 10px 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    margin-top: unset;
    box-shadow: none;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
    border: none;
    background-color: #94da2f;
}
/*GARA*/
.blue-background{
	background-color: #2fa8da;
    width: 350px;
    border-radius: 20px 20px 0 0;
    height: 60px;
    position: absolute;
    top: 0;
}
.blue-background p{
	color: white;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1;
    margin-top: 23px;
}
#box3{
	width: 350px;
    height: 350px;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 10vw;
    border-radius: 20px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

















.incorect_input {
    outline: 2px solid red;
}

.remodal-overlay {
    width: 100%;
}

.box-close{

    background-color: #989292;
    height: 50px;
    width: 600px;

}

#but2{
    opacity: 0.5;
}

.selected {

    display: none;
}
.xxx{
    display: block;
}
#green-background {

}

.long {
    /*display: none;*/
    display: flex;
    display: -webkit-flex;
}
.correct {
    width: 20px;
    height: 20px;
    position: absolute;
	right: 35px;
    top: 10px;
    display: none;
    background-image: url(../img/correct.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#shrink{
    display: none;
    float: right;
}
.next {
    opacity: 0.5;
}
.prev {
    opacity: 0.5;
}
#counter {
    display: none;
}
#expand {
    float: right;
    display: none;
}
#sform input, #form input {
    border-radius: 20px;
    padding: 15px;
    border: solid 1px #e7e9ee;
    background-color: #e7e9ee;
    width: 100%;
}
#form input:focus{
    background-color: #fff;
}
#form button {
    background-color: #424749;
	box-shadow: unset;
}
.mailSuccess {
    z-index: 10000;
    padding: 20px;
    background-color: #67b1d9;
    color: #fff;
    border-radius: 15px;
    position: fixed;
    width: 30%;
    top: 20%;
    left: 35%;
    text-align: center;
}
.mailSuccess span {
    padding: 7px 14px;
    border-radius: 10px;
    border: solid #fff 2px;
    background-color: #67b1d9;
    cursor: pointer;
}
.mailSuccess p {
    margin:20px;
}
.checking p {
    box-sizing: border-box;
    padding: 20px;
    font-size: 1em;
}


 #form .checking input {
    width: initial;
    display: inline-block;
    margin-left: 20px;
}
#short_form p {
    font-size: 1em;
    line-height: 1.5em;
    box-sizing: border-box;
    max-width: 100%;
    padding: 20px;
}
.checking .agree {
    display: inline-block;
    font-size: 1em;
    padding-left: 5px;
}
.mailSuccess .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.inputs label, .inputs span{
	font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: rgba(0,0,0,0.8);
	padding-right: 10px;

}
.bookinput{
	display: flex;
	display:-webkit-flex;
	justify-content: space-between;
	align-items: center;
}

form button{
	border-radius: 10vw;
    font-size: 10px;
    border: 0;
    padding: 8px 15px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    margin-top: unset;
    box-shadow: none;
    cursor: pointer;
    width: 100px;
}
#short_form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	width: 40%;
    top: 6vw;
}
#short_sbm {
    display: none;
}

.form_move_buttons {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}
.prev {
    display: none;
}
.button_submit_in_short_form{
	width: fit-content;
    margin: auto;
}
.button_submit_in_short_form input{
	width: auto !important;
    padding: 10px 45px !important;
    border-radius: 10px !important;
    background-color: #94da2f !important;
    color: white;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}
.option_phone_loc{
	border-radius: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: solid 1px #e7e9ee;
    background-color: #e7e9ee;
    width: 100%;
}
@media screen and (max-width: 900px){
#box2 {
    width: 90%;
    top: 27vw;
	max-width: unset;
}
#boxx{
	overflow: scroll;
    height: auto;
	width:100%;
    max-height: 90vh;
    
}


#short_form {
    width: 100%;
    top: 11vw;
    max-height: 90vh;
    overflow-y: scroll;
    border-radius: 20px;
}
#short_form 
.button_submit_in_short_form {
    margin-bottom: 150px;
}
#short_form p {
    margin:0;
}
/* хром, сафари */
#boxx::-webkit-scrollbar, #short_form::-webkit-scrollbar { width: 0; }


/* ie 10+ */
#boxx, #short_form  { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
#boxx, #short_form  { overflow: -moz-scrollbars-none; }
#box1 {
    width: 100%;
    max-width: 350px;
}
#sform {
}
form {
    padding-bottom: 30vw;
}
.inputs{
    width: 90%;
}
.checking p {
    margin: 0;
    text-align: left;
}
.mailSuccess {
    left: 5%;
    width: 90%;
    box-sizing: border-box;
}
}